﻿<div class="row">
    <div class="span3">
        <div class="inner">
            <h3>AutoComplete</h3>
            <p>A form with AJAX-powered autocomplete</p>
        </div>
    </div>
    <div class="span9">
        <form class="well form-vertical form-test-01">
            <div class="control-group">
                <label class="control-label" for="form02input02">Search Term</label>
                <div class="controls">
                    <input type="text" class="typeahead input-xlarge" id="form02input02">
                </div>
            </div>
            <div>
                <button type="submit" class="btn btn-primary">Submit!</button>
            </div>
        </form>
    </div>
</div>

@{
    using (Html.BeginScriptContext())
    {
        Html.AddScriptFile("http://code.jquery.com/jquery-migrate-1.2.1.js");
        Html.AddScriptFile("~/Scripts/typeahead.custom.js");

        Html.AddScriptBlock(@"
        $(function () {
            $('.typeahead').typeahead({
                property: 'Name',
                source: function (typeahead, query) {
                    $.ajax({
                        type: 'POST',
                        dataType: 'json',
                        url: '/forms/autocompletedata?q=' + query,
                        success: function (data) {
                            typeahead.process(data);
                        }
                    })
                }
            });
        });");
    }

}